<% layout('layout') %>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/scrolling-nav.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet" >
    <style type="text/css">

    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <% include ../partials/navSL %>  
    <div class="container">
        <br><br>
        <div class="text-center reg_msg">
            <h1><a href="/">RateMe</a></h1>
        </div>
       <br><br>
       <div class="banner-title text-center reg_msg">
            <h2 class="fancy"><span>Reset Password</span></h2>
       </div><br><br><br>

        <div class="row reset">

            <% if(hasErrors) { %>
                <% for(var i=0; i<messages.length; i++){ %>
                    <div class = "alert alert-danger alert-dismissable">
                        <%= messages[i] %>
                    </div>
                <% } %>
            <% } %>
            
            <% if(noErrors) { %>
                <div class = "alert alert-success alert-dismissable">
                    <%= success %>
                </div>
            <% } %>
            
            <form method="POST">
                <div class="form-group input_group">
                    <input id="password" class="form-control" name="password" type="password" autocomplete="on" placeholder="PASSWORD" style="margin-bottom:20px;">
                </div>

                <div class="form-group input_group">
                    <input id="cpassword" class="form-control" name="cpassword" type="password" autocomplete="on" placeholder="CONFIRM PASSWORD" style="margin-bottom:20px;">
                </div>

                <div class="form-group" id="submit">
                    <input type="submit" value="Reset Password" class="form-control btn btn-primary" name="reset" style="">
                </div>
            </form>

            <div>
                <h4>Already reset your password? <a href="/login">Login</a></h4>
            </div>

        </div>
    </div>
</body>